<%= simple_form_for @pokemon do |f| %>
    <div class="row">
        <div class="form-group col-lg-6">
                <%= f.input :name,label:'Nom',class: 'form-control' %> 
        </div>
        <div class="form-group col-lg-6">
                <%= f.association :type, label:'Type',class: 'form-control' %> 
        </div>
        <div class="form-group col-lg-6">
                <%= f.input :number, label:'Numéro',class: 'form-control' %> 
        </div>
        <div class="form-group col-lg-6">
                <%= f.input :level, label:'Niveau',class: 'form-control' %> 
        </div>
        <div class="form-group col-lg-6">
                <%= f.input :health_points,label:'PV',class: 'form-control' %> 
        </div>
        <div class="form-group col-lg-6">
                <%= f.association :moves, label:'Attaque', as: :check_boxes, item_wrapper_tag: :label, item_wrapper_class: 'checkbox-inline' %>
        </div>
        <div class="form-group col-lg-6">
                <%= f.input :avatar, as: :file %> 
        </div>
    </div>

    <%= f.submit 'Enregistrer' ,class: 'btn btn-primary'%>
<% end %>