<h1> Afficher un Pokemon</h1>
<p> Nom : <%= @pokemon.name %> </p>
<p> Numero : <%= @pokemon.number %> </p>
<p> Niveau : <%= @pokemon.level %> </p>
<p> Vie : <%= @pokemon.health_points %> </p>
<p>
    Type: 
    <% type = @pokemon.type %>
    <% if type.nil? %>
        non defini
    <% else %>
        <%= type_badge(type.name, type.color) %>
    <% end %>
</p>

<p>
    Attaques:
    <%= render partial: 'moves/moves_list', locals: { moves: @pokemon.moves } %>
</p>

<p>
    <%= link_to 'Editer', edit_pokemon_path(@pokemon), class:'btn btn-warning' %> 
</p>

<p>
    <%= link_to 'Liste des Pokemons', pokemons_path, class:'btn btn-primary' %> 
</p>

<%= @pokemon.avatar.exists? ? image_tag(@pokemon.avatar.url(:thumb)) : '&empty;'.html_safe %>